* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  background-color: #333;
  color: whitesmoke;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 300px;
  border-right: 2px solid black;
}

#navbar h1 {
  padding: 1.5rem 1rem;
  font-size: 1.6rem;
  white-space: nowrap;
  width: 300px;
  height: 80px;
  border-bottom: 2px solid whitesmoke;
}

.nav-link-container {
  height: calc(100% - 80px);
  overflow-y: scroll;
}

.nav-link {
  border-bottom: 2px solid whitesmoke;
  color: whitesmoke;
  text-decoration: none;
  display: block;
  padding: 1rem 1rem;
}

#main-doc {
  margin-left: 300px;
  width: calc(100% - 300px);
}

section {
  padding: 2rem;
  border-bottom: 2px solid black;
}

#main-doc h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

#main-doc h3 {
  font-size: 1.2rem;
  margin: 1rem 0 0.25rem;
}

#main-doc p {
  line-height: 1.4rem;
}

#main-doc code {
  font-family: monospace;
  padding: 1rem;
  display: block;
  color: white;
  background-color: black;
  width: 50%;
  border-radius: 10px;
}

pre {
  white-space: pre-wrap;
}

#main-doc li {
  margin-left: 1rem;
}

.code-snippet {
  display: inline-block;
  white-space: nowrap;
  font-family: monospace;
  background: #000;
  color: white;
  border-radius: 5px;
  padding: 0.1rem 0.2rem;
  vertical-align: 7%;
}

.footer {
  font-size: 1.2rem;
  font-weight: bold;
}

/* || MEDIA QUERIES */

@media (max-width: 800px) {
  #navbar {
    width: 100%;
    height: 184px;
    border-right: 0;
    border-bottom: 2px solid whitesmoke;
  }

  #navbar h1 {
    width: 100%;
    text-align: center;
  }

  #main-doc {
    margin: 0;
    padding-top: 184px;
    width: 100%;
  }

  section {
    padding: 1rem;
  }

  #main-doc code {
    width: 75%;
  }

  .footer {
    text-align: center;
  }
}
